<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add event</title>
</head>
<body>
    <h3>Welcome, Enter The Event Details!</h3>

        <form method="POST" action="#" th:action="@{/events}" th:object="${event}">
            <p>Id: <input type="text" th:field="*{id}"/></p>
            <p>Nazwa: <input type="text" th:field="*{eventName}"/></p>
            <p>Miejsce: <input type="text" th:field="*{place}"/></p>
            <p>Region: <input type="text" th:field="*{region}"/></p>
            <p>Zalozyciel: <input type="text" th:field="*{ownerOfEvent}"/></p>
            <p>Opis: <input type="text" th:field="*{description}"/></p>
            <p>Ilosc uzytkownikow: <input type="text" th:field="*{usersCount}"/></p>
            <p>Data: <input type="datetime-local" th:field="*{date}"/>
                <span th:if="${#fields.hasErrors('date')}" th:text="#{error.route.date}"></span>
            </p>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>

            <p>
                <input type="submit" class="button" name="submit" value="Zarejestruj wydarzenie"/>
                <input type="reset" name="reset" value="Reset"/>
                <a th:href="@{/}"><input type="button" value="Strona główna"></a>
            </p>
        </form>

</body>
</html>