<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add event</title>
    <link th:insert="~{sections/imports}">

</head>

<body>

<div th:insert="~{/../sections/navbar :: header}"></div>
<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>
<body>
    <div>
        <form action="#" th:action="@{/events}" th:object="${event}" method="post">
            <p>Id: <input type="text" th:field="*{id}"/></p>
            <p>Nazwa: <input type="text" th:field="*{eventName}"/></p>
            <p>Miejsce: <input type="text" th:field="*{place}"/></p>
            <p>Region: <input type="text" th:field="*{region}"/></p>
            <p>Zalozyciel: <input type="text" th:field="*{ownerOfEvent}"/></p>
            <p>Opis: <input type="text" th:field="*{description}"/></p>
            <p>Ilosc uzytkownikow: <input type="text" th:field="*{usersCount}"/></p>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>

            <p>
                <input type="submit" value="Zarejestruj wydarzenie"/>
                <input type="reset" value="Reset"/>
                <a href="http://localhost:8080/routes"><input type="button" value="Strona główna"></a>
            </p>
        </form>
    </div>


    <div th:insert="~{sections/footer :: footer}"></div>

</body>
</html>