<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Events</title>
    <link th:insert="~{sections/imports}">

</head>

<body>

<div th:insert="~{/../sections/navbar :: header}"></div>
<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

<form th:action="@{/public/events/search}">
    <div class="d-flex justify-content-center">
        <div class="p-2">Filtr nazwy:   <input type="text" name="nameWord" th:value="${nameWord}" /></div>
        <div class="p-2">Filtr regionu:  <select type="text" name="localWord" th:value="${localWord}">

            <option></option>
            <option th:value="'DOLNOSLASKIE'" th:text="dolnośląskie"/>
            <option th:value="'KUJAWKSOPOMORSKIE'" th:text="kujawsko-pomorskie"/>
            <option th:value="'LUBELSKIE'" th:text="lubelskie"/>
            <option th:value="'LUBUSKIE'" th:text="lubuskie"/>
            <option th:value="'LODZKIE'" th:text="łódzkie"/>
            <option th:value="'MALOPOLSKIE'" th:text="małopolskie"/>
            <option th:value="'MAZOWIECKIE'" th:text="mazowieckie"/>
            <option th:value="'OPOLSKIE'" th:text="opolskie"/>
            <option th:value="'PODKARPACKIE'" th:text="podkarpackie"/>
            <option th:value="'PODLASKIE'" th:text="podlaskie"/>
            <option th:value="'POMORSKIE'" th:text="pomorskie"/>
            <option th:value="'SLASKIE'" th:text="śląskie"/>
            <option th:value="'SWIETOKRZYSKIE'" th:text="świętokrzyskie"/>
            <option th:value="'WARMINSKOMAZURSKIE'" th:text="warmińsko-mazurskie"/>
            <option th:value="'WIELKOPOLSKIE'" th:text="wielkopolskie"/>
            <option th:value="'ZACHODNIOPOMORSKIE'" th:text="zachodniopomorskie"/>
        </select></div>

        <div class="p-2">  </div>


        <div class="p-2">Szukaj w opisie:  <input type="text" name="descriptionWord" th:value="${descriptionWord}" /></div>
        <div class="p-2">  </div>
        <div class="p-2">  <input class="btn btn-success" type="submit" value="Szukaj" />  </div>
    </div>
</form>
<br/>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/public/events/create}" class="btn btn-success">
        <i class="fas fa-plus"></i> Utwórz nowy event
    </a>
</div>
<div class="mt-2">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th th:text="#{event.id}">Id</th>
                <th th:text="#{event.eventName}">Name</th>
                <th th:text="#{event.date}">Data</th>
                <th th:text="#{event.route}">Trasa</th>
                <th th:text="#{event.region}">Region</th>
                <th th:text="#{event.ownerOfEvent}">Założyciel wydarzenia</th>
                <th th:text="#{event.description}">Opis wydarzenia</th>
                <th th:text="#{event.usersCount}">Ilość uczestników</th>
                <th>Szczegóły</th>
                <div sec:authorize="hasRole('ADMIN')">
                <th>Kasowanie/Edycja</th>
                </div>
            </tr>
        </thead>

        <tbody class="">
            <tr th:each="event,iterStat: ${events}">

                <td th:text="${event.id}"/>
                <td th:text="${event.eventName}"/>
                <td th:text="${#temporals.format(event.getEventDateTime(), 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${event.route}"/>
                <td th:text="${event.region}"/>
                <td th:text="${event.ownerOfEvent}"/>
                <td th:text="${event.description}"/>
                <td th:text="${event.usersCount}"/>
                <td>
                    <a th:href="@{/public/events/detailsmain/{eventId}(eventId=${event.id})}" class="btn btn-success">
                        Szczegóły
                    </a>
                <td>
                <div sec:authorize="hasRole('ADMIN')">
                    <button class="btn btn-outline-danger"
                            data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${event.id}"><i
                            class="far fa-trash-alt "
                    ></i></button>

                    <a th:href="@{/public/events/{eventId}(eventId=${event.id})}" class="btn btn-success">
                        Edytuj
                    </a>
                    <!-- The Modal -->
                    <div class="modal fade" th:attr="id='recordDeleteModal'+${event.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Usunie to bezpowrotnie rekord. Usunąć?</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success"
                                            data-dismiss="modal">Anuluj
                                    </button>
                                    <a th:attr="href='/public/events/delete-event/'+${event.id}">
                                        <button
                                                type="button" class="btn btn-danger">Usuń
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div id="button" sec:authorize="isAuthenticated()">
        <a th:href="@{/public/events/create}" class="btn btn-success">
            <i class="fas fa-plus"></i> Utwórz nowy event
        </a>
    </div>
    <div th:insert="~{/../sections/footer :: footer}"></div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>


