<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Events</title>
    <link th:insert="~{sections/imports}">

</head>

<body>

<div th:insert="~{/../sections/navbar :: header}"></div>
<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th th:text="#{event.id}">Id</th>
                <th th:text="#{event.eventName}">Name</th>
<!--                <th th:text="#{event.date}">Data</th>-->
                <th th:text="#{event.place}">Miejsce</th>
                <th th:text="#{event.region}">Region</th>
                <th th:text="#{event.ownerOfEvent}">Założyciel wydarzenia</th>
                <th th:text="#{event.description}">Opis wydarzenia</th>
                <th th:text="#{event.usersCount}">Ilość uczestników</th>
                <th>Zarządzanie</th>
            </tr>
        </thead>

        <tbody class="">
            <tr th:each="event,iterStat: ${events}">

<!--                <td th:text="${iterStat.count}"/>-->
                <td th:text="${event.id}"/>
                <td th:text="${event.eventName}"/>
                <td th:text="${event.place}"/>
                <td th:text="${event.region}"/>
                <td th:text="${event.ownerOfEvent}"/>
                <td th:text="${event.description}"/>
                <td th:text="${event.usersCount}"/>
                <td>
                    <a th:href="@{/events/{eventId}(eventId=${event.id})}" class="btn btn-success btn-sm">Edytuj</a>
                    <a th:href="@{/events/delete-event/{id}(id=${event.id})}" class="btn btn-danger btn-sm">Usuń</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="button">
        <a href="http://localhost:8080" class="btn btn-outline-primary ">Strona główna</a>
        <a th:href="@{/events/create}" class="btn btn-success">Utwórz nowe wydarzenie</a>
        <a th:href="@{/events/save}" class="btn btn-success">Zapisz wydarzenia do pliku</a>
        <br/>
        <br/>
        <form th:action="@{/events}">
            <p>Filtr lokalizacji:  <input type="text" name="localWord" th:value="${localWord}" />
            <p>Filtr lokalizacji:  <input type="text" name="nameWord" th:value="${nameWord}" />
            <p>Filtr lokalizacji:  <input type="text" name="descriptionWord" th:value="${descriptionWord}" />
                <input type="submit" value="Search" />
            </p>
        </form>
    </div>

    <div th:insert="~{/../sections/footer :: footer}"></div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>


