<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Modify event</title>
</head>
<body>

    <div>
        <form action="#" th:action="@{/events/{eventId}/edit(eventId=${event.id})}" th:object="${event}" method="post">
            <p>
                <label for="id">Id:</label>
                <input id="id" type="text" th:field="*{id}">
            </p>

            <p>
                <label for="eventname">Nazwa:</label>
                <input id="eventname" type="text" th:field="*{eventName}">
            </p>

            <p>
                <label for="place">Miejsce</label>
                <input id="place" type="text" th:field="*{place}">
            </p>

            <p>
                <label for="region">Region</label>
                <input id="region" type="text" th:field="*{region}">
            </p>

            <p>
                <label for="ownerOfEvent">Założyciel wydarzenia:</label>
                <input id="ownerOfEvent" type="text" th:field="*{ownerOfEvent}">
            </p>

            <p>
                <label for="description">Opis wydarzenia:</label>
                <input id="description" type="text" th:field="*{description}">
            </p>

            <p>
                <label for="usersCount">Ilość uczestników:</label>
                <input id="usersCount" type="text" th:field="*{usersCount}">
            </p>
            <br/>
            <input id="submit" type="submit" value="Zapisz zmiany">
            <input id="reset" type="reset" value="Resetuj zmiany">
            <a th:href="@{/events}"><input type="button" value="Przejdź do wydarzeń"></a>
            <a th:href="@{/}"><input type="button" value="Strona główna"></a>

        </form>
    </div>

</body>
</html>