<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Modify event</title>
    <link th:insert="~{sections/imports}">

</head>

<body>

<div th:insert="~{/../sections/navbar :: header}"></div>
<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

    <div>
        <form action="#" th:action="@{/events/{eventId}/edit(eventId=${event.id})}" th:object="${event}" method="post">
            <p>
                <label for="id">Id:</label>
                <input id="id" type="text" th:field="*{id}">
            </p>

            <p>
                <label for="eventname">Nazwa:</label>
                <input id="eventname" type="text" th:field="*{eventName}">
            </p>

            <p>
                <label for="place">Miejsce</label>
                <input id="place" type="text" th:field="*{place}">
            </p>

            <p>
                <label for="region">Region</label>
                <input id="region" type="text" th:field="*{region}">
            </p>

            <p>
                <label for="ownerOfEvent">Założyciel wydarzenia:</label>
                <input id="ownerOfEvent" type="text" th:field="*{ownerOfEvent}">
            </p>

            <p>
                <label for="description">Opis wydarzenia:</label>
                <input id="description" type="text" th:field="*{description}">
            </p>

            <p>
                <label for="usersCount">Ilość uczestników:</label>
                <input id="usersCount" type="text" th:field="*{usersCount}">
            </p>

            <p>
                <label for="date">Data:</label>
                <input id="date" type="datetime-local" th:field="*{date}">
            </p>
            <br/>
            <input id="submit" type="submit" value="Zapisz zmiany"/>
            <input id="reset" type="reset" value="Resetuj zmiany"/>
            <a th:href="@{/events}"><input type="button" value="Przejdź do wydarzeń"></a>
            <a th:href="@{/}"><input type="button" value="Strona główna"></a>

        </form>
    </div>


<div th:insert="~{sections/footer :: footer}"></div>

</body>
</html>