<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Meet2gether - Wspólne trasy, eventy i przygody</title>
    <meta content="Jest to aplikacja pozwalająca na spotykanie się ze znajomymi na wspólnych aktywanościach na zewnątrz. Wygodna wyszukiwarka tras i ewentów." name="description">

    <link th:insert="~{sections/imports}">

</head>

<body>
<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #05386B; text-decoration-color: #05386B">
        <a class="navbar-brand" th:href="@{/}">Meet2gether</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/routes}">Trasy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/events}">Eventy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">O Aplikacji</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/team}">Zespół</a>
                </li>
            </ul>
<!--            <form class="form-inline my-2 my-lg-0">-->
<!--                <input class="form-control mr-sm-2" type="search" placeholder="Szukaj trasy lub eventu..." aria-label="Search">-->
<!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>-->
<!--            </form>-->

            <a th:href="@{/login}"><button type="button" class="btn btn-success ml-5">
                Login
            </button></a>
        </div>
    </nav>
</header>

<!-- Hero -->
<section class="hero ">
    <div class="hero-inner">
        <h1 style="font-size: xx-large !important;">Meet2gether</h1>
        <h2>Zacznij już dziś przygodę w terenie.</br>
            Nie ważne jak pokonujesz trasę, poznawaj nowych ludzi i uczestnicz we wspólnych eventach.</h2>
        </div>
</section>
<!-- Hero -->
<main>


    <div class="container">

    <div class="mt-4">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Featured post</a>
                    </h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Post title</a>
                    </h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
            </div>
        </div>
    </div>
    </div>
        </div>
    </div>

</main>
<div th:insert="~{sections/footer :: footer}"></div>
</body>
</html>