<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Meet2gether - Wspólne trasy, eventy i przygody</title>
    <meta content="Jest to aplikacja pozwalająca na spotykanie się ze znajomymi na wspólnych aktywanościach na zewnątrz. Wygodna wyszukiwarka tras i ewentów." name="description">

    <link th:insert="~{sections/imports}">

</head>

<body>
<div th:insert="~{sections/navbar :: header}"></div>

<!-- Hero -->
<section class="hero ">
    <div class="hero-inner">
        <h1 style="font-weight: bolder;
    text-align: center;
    font-size: 66px;
    letter-spacing: 3px;">Meet2gether</h1>
        <h2 style="font-size: 40px;">Zacznij już dziś przygodę w terenie.</br>
            Nie ważne jak pokonujesz trasę, poznawaj nowych ludzi <br>i uczestnicz we wspólnych eventach.</h2>
        </div>
</section>
<!-- Hero -->
<main>




</main>
<div th:insert="~{sections/footer :: footer}"></div>
</body>
</html>