<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:insert="~{sections/imports}">

</head>
<body>

<div th:insert="~{sections/navbar :: header}"></div>

<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

<div class="mt-5">
    <div class="container w-50 mt-4-3">

        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login.html}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" />
        </form>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Nie pamiętasz hasła?</a>
                </div>


<!--            &lt;!&ndash; Submit button &ndash;&gt;-->
<!--            <button type="button" class="btn btn-success btn-block mb-4">Zaloguj</button>-->

            <!-- Register buttons -->
            <div class="text-center">
                <p>Nie masz konta? <a href="#!">Zarejestruj</a></p>
                <p>albo zaloguj się przez:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <a href="/oauth2/authorization/google">Google <i class="fab fa-google"></i> </a>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                    <a href="/oauth2/authorization/github">GitHub <i class="fab fa-github"></i> </a>
                </button>
            </div>
        </form>
    </div>
</div>

<div th:insert="~{sections/footer :: footer}"></div>
</body>
</html>