<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:insert="~{sections/imports}">

</head>
<body>

<div th:insert="~{/../sections/navbar :: header}"></div>

<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

<div class="mt-5">
<div class="container w-50 mt-4-3">
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" placeholder="przylad@poczta.pl" class="form-control" />
            <label class="form-label" for="form2Example1">Adres Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Hasło</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Pamiętaj mnie </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Nie pamiętasz hasła?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-success btn-block mb-4">Zaloguj</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Nie masz konta? <a href="#!">Zarejestruj</a></p>
            <p>albo zaloguj się przez:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>
</div>

<div th:insert="~{sections/footer :: footer}"></div>
</body>
</html>