<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Meet2gether - Utworzono użytkownika</title>

    <link th:insert="~{sections/imports}">

</head>

<body>

<div th:insert="~{sections/navbar :: header}"></div>

<div class="bg-color"
     style="background: rgb(5,56,107);
            background: linear-gradient(180deg, rgba(5,56,107,1) 8%, rgba(92,219,133,1) 64%);
            height: 20vh;">
</div>

<div class="container m-4">

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <h2 class="text-center">Utworzono użytkownika.</h2>
    </main>
</div>

<div th:insert="~{sections/footer :: footer}"></div>

</body>
</html>






