<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

</head>
<body>
<footer>
    <div class="footer justify-content-center text-center">
        &copy; Copyright <strong><span>Meet2gether</span></strong>. Wszelkie prawa zastrzeżone.<br><br>
        Photos used in app - Pexels.com, copyright by Pexels and their contributors. Main graphic MoveItMonday.
    <br/>
        Designed by Javaholics

    </div>
</footer>
</body>
</html>