<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

</head>
<body>
<footer>
    <div class="footer justify-content-center text-center">
        <br/>
        &copy; Copyright <strong><span>Meet2gether</span></strong>. Wszelkie prawa zastrzeżone.<br><br>
        Photos used in app - Pexels.com, copyright by Pexels and their contributors. Main graphic MoveItMonday.
        <br/>
        Designed by Javaholics
        <br/>
    </div>
</footer>
</body>
</html>